<launch>
    <node name="start_position" pkg="navigation_bot" type="start_position.py" output="screen"/>
    <node name="choose_waypoint" pkg="navigation_bot" type="choose_waypoint.py" output="screen"/>
    <node name="navigation" pkg="navigation_bot" type="navigation.py" output="screen"/>
</launch>
